<center>
    <h1>LastMonth Chart Generator</h1>

    <% for i in 0..24 do %>
        <img src="<%= @selected_images[i] %>">
        <% if (i+1)%5 == 0 %>
            <br>
        <% end %>
    <% end %>
</center>